@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="jumbotron>
        <h1>WA IT Services</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>
</div>


<div id="lg">
    <div class="container w">
        <div class="row">
            <div class="row centered">
                <br><br>
                <div class="col-lg-4">
                    <i class="fa fa-heart"></i>
                    <h4>DESIGN</h4>
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even believable.</p>
                </div><!-- col-lg-4 -->

                <div class="col-lg-4">
                    <i class="fa fa-laptop"></i>
                    <h4>BOOTSTRAP</h4>
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even believable.</p>
                </div><!-- col-lg-4 -->

                <div class="col-lg-4">
                    <i class="fa fa-trophy"></i>
                    <h4>SUPPORT</h4>
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even believable.</p>
                </div><!-- col-lg-4 -->
            </div>
        </div>
    </div>
</div>


<div id="dg">
    <div class="container">
        <div class="row top-buffer bottom-buffer">
            <div class="col-md-offset-1 col-md-8">
                <h2>More Information Here</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Vestibulum laoreet porttitor sem vel viverra. In hac habitasse platea dictumst.
                    Cras maximus, purus et mollis auctor, libero velit porta erat, at pellentesque mauris mauris id mi.
                    Nulla nisi leo, mattis finibus velit nec, tempor bibendum neque.
                </p>
            </div>
        </div>
        <div class="row top-buffer bottom-buffer">
            <div class="col-md-8 col-md-offset-3">
                <h2 class="text-right">More Information Here</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Vestibulum laoreet porttitor sem vel viverra. In hac habitasse platea dictumst.
                    Cras maximus, purus et mollis auctor, libero velit porta erat, at pellentesque mauris mauris id mi.
                    Nulla nisi leo, mattis finibus velit nec, tempor bibendum neque.
                </p>
            </div>
        </div>
        <div class="row top-buffer bottom-buffer">
            <div class="col-md-offset-1 col-md-8">
                <h2>More Information Here</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Vestibulum laoreet porttitor sem vel viverra. In hac habitasse platea dictumst.
                    Cras maximus, purus et mollis auctor, libero velit porta erat, at pellentesque mauris mauris id mi.
                    Nulla nisi leo, mattis finibus velit nec, tempor bibendum neque.
                </p>
            </div>
        </div>
        <div class="row top-buffer"></div>
    </div>
</div>

